<%= devise_error_messages! %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 form-box">
    <div class="form-top">
      <h3>Edit Profile</h3>

      <div class="form-bottom">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="form-group">
            <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name", id: "first_name" %>
          </div>

          <div class="form-group">
            <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", id: "last_name" %>
          </div>

          <div class="form-group">
            <%= f.text_field :dob, class: "form-control", placeholder: "Date of Birth", id: "dob" %>
          </div>

          <div class="form-group">
            <%= f.email_field :email, class: "form-control", placeholder: "Email", id: "email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password (Leave blank if you don't want to change it)"  %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password confirmation" %>
          </div>

          <div class="form-group">
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Current Password (to confirm your changes)", id: "current_password" %>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <p id="user-log-in">Unhappy?</p>
  <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
