<%= devise_error_messages! %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 form-box">
    <div class="form-top">
      <h3>Sign Up Now</h3>
      <p>Fill in the form below to get instant access</p>

      <div class="form-bottom">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "sign_up_form"}) do |f| %>
            <div class="form-group">
              <%= f.text_field :first_name, autofocus: true, :class => "form-control", placeholder: "First Name" %>
            </div>

            <div class="form-group">
              <%= f.text_field :last_name, :class => "form-control", placeholder: "Last Name" %>
            </div>

            <div class="form-group">
              <%= f.text_field :dob, :class => "form-control", placeholder: "Date of Birth" %>
            </div>

            <div class="form-group">
              <%= f.email_field :email, :class => "form-control", placeholder: "Email", id: "email" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", :class => "form-control", placeholder: "Password (8 characters minimum)", id: "password" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", placeholder: "Password confirmation" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", :class => "btn btn-primary" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row text-center ">
  <p id="user-log-in">Already have an account?</p>
  <p><%= render "devise/shared/links" %></p>
</div>
