<%= prescription_error_messages! %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 form-box">
    <div class="form-top">
      <h3>Edit Prescription</h3>

      <div class="form-bottom">
        <%= form_for @prescription, html: {id: "sign_up_form"} do |f| %>

          <div class="form-group">
            <%= fields_for @prescription.drug do |d| %>
              <%= d.text_field :name, class: "form-control", placeholder: "Drug Name" %>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.text_field :strength, class: "form-control", placeholder: "Drug Strength" %>
          </div>

          <div class="form-group">
            <%= f.text_field :quantity, class: "form-control", placeholder: "Quantity" %>
          </div>

          <div class="form-group">
            <%= f.select :dose_count, Prescription::DOSE, {prompt: "Dose Count"}, {class: "form-control"} %>
          </div>

          <div class="form-group">
            <%= f.select :frequency, Prescription::FREQUENCY, {prompt: "Frequency"}, {:class => "form-control"} %>
          </div>

          <div class="form-group">
            <%= f.collection_select :physician_id, Physician.where(user: current_user), :id, :name, {prompt: "Physician"}, {class: "form-control"} %>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
