<%= prescription_error_messages! %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 form-box">
    <div class="form-top">
      <h3>Create Prescription</h3>

      <div class="form-bottom">

        <%= form_for [@physician, @prescription], html: {id: "sign_up_form"} do |f| %>
          <div class="form-group">
            <%= f.text_field :drug, id: "drug_name", class: "form-control", placeholder: "Drug Name" %>
          </div>

          <div class="form-group">
            <%= f.text_field :strength, id: "strength", class: "form-control", placeholder: "Drug Strength" %>
          </div>

          <div class="form-group">
            <%= f.text_field :quantity, id: "quantity", class: "form-control", placeholder: "Quantity" %>
          </div>

          <div class="form-group">
            <%= f.select :dose_count, @prescription_dose, {prompt: "Dose Count"}, {id: "dose_count", class: "form-control"} %>
          </div>

          <div class="form-group">
            <%= f.select :frequency, @prescription_frequency, {prompt: "Frequency"}, {:class => "form-control", id: "frequency"} %>
          </div>

          <div class="form-group">
            <%= f.text_field :start_date, id: "start_date", class: "form-control", placeholder: "Start Date" %>
          </div>

          <div class="form-group">
            <%= f.text_field :end_date, id: "end_date", class: "form-control", placeholder: "End Date" %>
          </div>

          <div class="form-group">
            <%= f.collection_select :physician_id, Physician.where(user: current_user), :id, :name, {prompt: "Physician"}, {class: "form-control", id: "physician_name"} %>
          </div>

          <div class="actions">
            <%= f.submit "Add Prescription", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
