<ul>
  <h3><%= @prescription.drug %></h3>
  <li>Start Date: <%= @prescription.start_date %></li>
  <li>Directions: <%= @prescription.dose_count %> <%= @prescription.frequency %></li>
</ul>

<%= link_to "Edit Prescription", edit_prescription_path %>
<%= link_to "Delete Prescription", prescription_path(@prescription), method: :delete %>
