<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <table class="table table-condensed table-fill">
      <thead>
        <tr>
          <th class="text-left"><%= @prescription.drug %> <%= @prescription.strength %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Quantity: <%= @prescription.quantity %></td>
        </tr>
        <tr>
          <% if !@prescription.dose_count.empty? && !@prescription.frequency.empty? %>
            <td>Directions: <%= @prescription.dose_count %> <%= @prescription.frequency %></td>
          <% elsif !@prescription.frequency.empty? %>
            <td>Frequency: <%= @prescription.frequency %></td>
          <% end %>
        </tr>
        <tr>
          <% if !@prescription.physician.blank? %>
            <td>Physician: <%= @prescription.physician.name %></td>
          <% else %>
            <td>Physician: You have not selected a physician for this prescription</td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row text-center ">
  <p id="user-log-in">No longer taking this prescription?</p>
  <p><%= link_to "Delete Prescription", prescription_path(@prescription), method: :delete %></p>
</div>
