<ul>
  <h3><%= @prescription.drug %></h3>
  <li>Start Date: <%= @prescription.start_date %></li>
  <li>Directions: <%= @prescription.dose_count %> <%= @prescription.frequency %></li>
</ul>
<<<<<<< HEAD
=======

<%= link_to "Edit Prescription", edit_prescription_path %>
>>>>>>> user_edits_prescription
