<!DOCTYPE html>
<html>
<head>
  <title>MedicationTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<% if user_signed_in? %>
<body class="dashboard-background">
<% else %>
<body class="main-page">
<% end %>
  <nav class="navbar" role="navigation">
    <div class="container">
        <div class="col-md-8 navbar-header">
          <h6><%= link_to "Medication Tracker", root_path, id: "logo", class: "navbar-brand" %></h6>
        </div>
        <div class="col-md-4">
          <ul class="navbar text-right">
            <% if !user_signed_in? %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Log In", new_user_session_path %></li>
            <% else %>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
    <% if !user_signed_in? %>
    <div class="container-fluid">
    <% else %>
    <div class="container fill">
    <% end %>
      <div class="row">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="row subheader">
          <div class="col-md-8">
            <div class="col-md-3 text-center">
              <%= link_to user_root_path do %>
                <%= image_tag("buildings.png", class: "dashboard-icon") %>
                <p>Dashboard</p>
              <% end %>
            </div>
            <div class="col-md-3 text-center">
              <% if controller.controller_name == 'prescriptions' && controller.action_name == 'show' %>
                <%= link_to edit_prescription_path do %>
                  <%= image_tag("pill-icon.png", class: "dashboard-icon") %>
                  <p>Edit Prescription</p>
                <% end %>
              <% else %>
                <%= link_to new_prescription_path do %>
                  <%= image_tag("pill-icon.png", class: "dashboard-icon") %>
                  <p>Add Prescription</p>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-3 text-center">
              <% if controller.controller_name == 'physicians' && controller.action_name == 'show' %>
                <%= link_to edit_physician_path do %>
                  <%= image_tag("doctor.png", class: "dashboard-icon") %>
                  <p>Edit Physician</p>
                <% end %>
              <% else %>
                <%= link_to new_physician_path do %>
                  <%= image_tag("doctor.png", class: "dashboard-icon") %>
                  <p>Add Physician</p>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="col-md-4 text-right user-greeting">
            <p>Welcome, <%= "#{current_user.first_name}" %> <%= "#{current_user.last_name}" %></p>
          </div>
        </div>
      <% end %>
        <%= yield %>
      </div>
</body>

</html>
